{
   project =
   {
      description="👨‍👩‍👧‍👦 mulle-bunchobjects efficently allocate instances";
      domain="github";
      language="c";
      dialect="objc";
      name="mulle-bunchobjects";
      user="MulleFoundation";
      repo="mulle-bunchobjects";
      homepage="https://github.com/MulleFoundation/mulle-bunchobjects";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="👨‍👩‍👧‍👦 mulle-bunchobjects efficently allocate instances";
         domain="";
         name="# no-bequeath is inherited voodoo";
         repo="# no-bequeath is inherited voodoo";
         url="";
         user="";
      },
      {
         description="💎 A collection of Objective-C root classes for mulle-objc";
         domain="github";
         name="MulleObjC";
         repo="MulleObjC";
         url="https://github.com/mulle-objc/MulleObjC";
         user="mulle-objc";
      },
      {
         description="🔗 Glue for Objective-C code to support different Foundations";
         domain="github";
         name="objc-compat";
         repo="objc-compat";
         url="https://github.com/MulleFoundation/objc-compat";
         user="MulleFoundation";
      }
   );
}
